{% extends "layout.html" %}

    {% block mainContent %}
    
    <style>
    h1 {
        text-align: center;
        color: white;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
    }
    p {
        text-align: center;
        color: white;
    }
</style>
<header>
        <img src="/images/download.png" width="140" height="100" alt="Logo" id="logo">
        <link href="//fonts.googleapis.com/css?family=Lato" rel='stylesheet' type='text/css'>
    <ul class="menu">
      <li><a href="/">HOME</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/events">EVENTS</a></li>
    </ul>
    <br>
</header>
    
    
    {% if errors %}
    <div class="form-errors">
      <p>Please correct the following errors!</p>
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
    
    
    <h1 id="title">{{event.title}}</h1>
    <p><span id="date">{{event.date}}</span></p>
    <p><span id="location">{{event.location}}</span></p>
    <p><span id="attendees">{{event.attendees}}</span></p>
    <p>{{event.image}}</p>
    
    <ul>
        {% for attendees in event.attending %}
          <li>{{attendees}}</li>
        {% endfor %}
      </ul>
    
      
<form id="rsvp-event" method="POST">
      
<label for="email">Email:</label>
      
<input type="email" name="email" id="email">        
     
<input type="submit" id="submit">
     
</form>

      {% endblock %}
      
   




