{% extends "layout.html" %}




{% block mainContent %}
<style>
    h1 {
        text-align: center;
        color: white;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
    }
    p {
      color: white;
      font-size: 14px;
    }
    </style>
    
<header>
   <div class=logoimage>
         <img src="/images/download.png" width="140" height="100" alt="Logo" id="logo">
         </div>
         <link href="//fonts.googleapis.com/css?family=Lato" rel='stylesheet' type='text/css'>
    <ul class="menu">
      <li><a href="/">HOME</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/events">EVENTS</a></li>
    </ul>
</header>
    
<h1>
  / Events /
</h1>
<br>
<p>
  A detailed list of all the events around you can be found here!
  Tickets for any event, if required can be purchased on this page.
</p>
<br>
<br>
  <div>
    {% include "fragments/events-list.html" %}
  </div>
  <div>
    <a href="/events/new">Create a new event</a>
  </div>

{% endblock %}

{% block footer %}
  <footer>
    Look at me customize the footer. The time now is {{time}}.
    <a href="/about">About</a>.
  </footer>
{% endblock %}
